@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
/* Full-width input fields */
input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;

  background: #ffffff;
  border: 1px solid #000000;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

input[type="date"] {
  width: 40%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;

  background: #ffffff;
  border: 1px solid #000000;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

/* Add a background color when the inputs get focus */
input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus {
  background-color: #ddd;
  outline: none;
}
.page-title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  font-weight: bold;
  text-decoration: underline;

  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  color: #ffffff;
}

/* Set a style for all buttons */
.add {
  background-color: #ffe600;
  color: #1e1e1e;
  padding: 15px;
  padding-bottom: 12px;
  padding-top: 12px;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 15px;
  opacity: 0.85;
  margin-top: 170vh;
  font-size: 18px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  position: fixed;
  right: 16px;
}

button:hover {
  opacity: 1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  float: left;
  width: 30%;

  background: #ffe600;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin-left: 35%;
  margin-right: 35%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.5);
  color: #1e1e1e;
}

.modal h1 {
  text-align: center;
}

/* Modal Content/Box */
.modal-content {
  margin-left: auto;
  margin-right: auto;
  width: 50%; /* Could be more or less, depending on screen size */
  border-radius: 10px;
  padding: 50px;
  position:sticky;
  top: 10vh;
  border-bottom: 10vh;

  background: #ffffff;
  box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.32);
  border-radius: 18px;
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
}
/* cards */
.card {
  position: absolute;
  margin-top: 100vh;
  margin-left: 10vh;
  margin-right: auto;

  width: 90%;
  height: 80vh;
  overflow-y: scroll;
  scroll-behavior: smooth;

  display: block;

}

.budget-details {
  padding: 30px;
  padding-left: 5%;
  padding-right: 5%;
  transition: 0.3s;
  width: 90%;
  font-size: large;

  background: #ffffff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  align-items: center;
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:20px;

  position: static;
}
.budget-details:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


::-webkit-scrollbar {
    width: 0px;
  }

  /* The Modal (background) */
.del-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.5);
    color: #1e1e1e;
  }
  
  .del-modal h1 {
    text-align: center;
  }
  
  /* Modal Content/Box */
  .modal-content {
    margin-left: auto;
    margin-right: auto;
    width: 50%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
    padding: 50px;
    position:sticky;
    top: 10vh;
    border-bottom: 10vh;
  
    background: #ffffff;
    box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.32);
    border-radius: 18px;
  }