/* home */
body {
  background-color: #51d289;
}
.home-section {
  position: relative;
  background: #51d289;
  height: 100%;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}
.sidebar.close ~ .home-section {
  left: 78px;
  width: calc(100% - 78px);
}
.home-section .home-content {
  height: 60px;
  display: flex;
  align-items: center;
}
.home-section .home-content .bx-menu {
  color: #363636;
  font-size: 35px;
}
.home-section .home-content .bx-menu {
  margin: 0 15px;
  cursor: pointer;
}

/* profile */
.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 80vh;
  background-color: white;
  padding: 30px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 10px;
  box-shadow: 0px 2px 0px 0px #797979;
}

.container img {
  width: 200px;
  border-radius: 50%;
}

.container h1 {
  padding-left: 0px;
  font-size: 40px;
}
.username {
  padding-left: 10px;
  text-align: left;
}

.username h5,
h6 {
  font-style: normal;
  font-weight: 400;
  font-size: 15xpx;
  line-height: 15px;
}

/* .username p{
  font-size: 10px;
} */

.two-button {
  text-align: center;
}

.change-button,
.edit-button {
  background-color: #51d289;
  color: white;
  border: 0px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 0px 0px #d6d6d6;
  margin-top: 10px;
  cursor: pointer;
}

/* image icon overlay*/
.image-container {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  opacity: 1;
  color: white;
  font-size: 50px;
  padding: 20px;
  text-align: center;
  height: 100%;
  border-radius: 50%;
  padding-top: 35%;
}

.image-container img {
  display: block;
}

/* modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 50px;
  border: 1px solid #888;
  width: 40%;
  border-radius: 10px;
  display: block;
  padding-bottom: 100px;
}

/* The Close Button */

.closee:hover,
.closee:focus {
  cursor: pointer;
}

/* edit-profile-form */
input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background: #FFFFFF;
border: 2px solid #979797;
}

input[type="submit"],
[type="button"] {
  width: 40%;
  background-color: #51d289;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline;
  font-weight: bolder;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.edit-pro {
  border-radius: 5px;
  background-color: #fefefe;
  padding: 20px;
  text-align: left;
}

.req {
  color: red;
}

*:required {
  background-color: #fefefe;
}
/* modal master change pass */
.modall {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 8vh; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
/* change-pass-form */
.modall-content {
  margin: auto;
  padding: 50px;
  border: 1px solid #888;
  width: 40%;
  border-radius: 10px;
  display: block;
  padding-bottom: 20px;
  background: #ffffff;
  box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.32);
}

/* change pass modal enter current */
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  background: #FFFFFF;
  border: 2px solid #979797;
}

input[type="submit"],
[type="button"] {
  width: 40%;
  background-color: #51d289;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.chan-pass {
  border-radius: 5px;
  background-color: #fefefe;
  padding: 20px;
}

.req {
  color: red;
}

*:required {
  background-color: #fefefe;
}

/* change-image */
input[type="file"] {
  display: none;
}

label {
  cursor: pointer;
}
