/* home */
body {
  background-color: #51d289;
}
.home-section {
  position: relative;
  background: #51d289;
  height: 100%;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}
.sidebar.close ~ .home-section {
  left: 78px;
  width: calc(100% - 78px);
}
.home-section .home-content {
  height: 60px;
  display: flex;
  align-items: center;
}
.home-section .home-content .bx-menu {
  color: #363636;
  font-size: 35px;
}
.home-section .home-content .bx-menu {
  margin: 0 15px;
  cursor: pointer;
}

/* profile */
.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15vh;
  margin-bottom: 20vh;
  background-color: white;
  padding: 30px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 10px;
  margin-left: 25%;
  box-shadow: 0px 2px 0px 0px #797979;
}

.container img {
  width: 200px;
  border-radius: 50%;
}

.container h1 {
  padding-left: 0px;
  font-size: 40px;
}
.username {
  padding-left: 10px;
  text-align: left;
}

.username h5,
h6 {
  font-style: normal;
  font-weight: 400;
  font-size: 15xpx;
  line-height: 15px;
}

/* .username p{
  font-size: 10px;
} */

.two-button {
  text-align: center;
}

.change-button,
.edit-button {
  background-color: #51d289;
  color: white;
  border: 0px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 0px 0px #d6d6d6;
  margin-top: 10px;
}

/* image icon overlay*/
.image-container {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  opacity: 1;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  height: 100%;
  border-radius: 50%;
  padding-top: 40%;
}

.image-container img {
  display: block;
}
