@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* cards */
.card {
  position: absolute;
  margin-top: 100vh;
  margin-left: 10vh;
  margin-right: auto;

  width: 90%;
  height: 80vh;
  overflow-y: scroll;
  scroll-behavior: smooth;

  display: block;
}

.budget-details {
  padding: 30px;
  padding-left: 5%;
  padding-right: 5%;
  transition: 0.3s;
  width: 90%;
  font-size: large;

  background: #ffffff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  align-items: center;
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  position: static;
}
.budget-details:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar {
  width: 0px;
}

/* sort dropdown */
.dropdown {
  position: absolute;
  display: block;
}
/* set the size and position of button on web */
.sort {
  background: #ffffff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25),
    inset 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;

  padding: 7px 22px;
  font-size: 15px;
  border: 2px;
  position: absolute;
  top: 6vh;
  left: 19vh;
  z-index: 1;
}

/* provide css to background of list items */
#list-items {
  display: none;
  position: absolute;
  background-color: white;
  width: 148px;
  z-index: 2;
  top: 9vh;
  left: 19vh;

  padding-top: 19px;
}
/* provide css to list items */
#list-items a {
  position: relative;
  display: block;
  font-size: 15px;
  background-color: #ffffff;
  color: black;
  text-decoration: none;
  padding: 10px;
  text-align: center;
}

#list-items ul {
  list-style: none;
  padding-left: 5px;
}

/* search */

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 30vh;
  border-right: none;
  padding: 5px;
  height: 20px;
  outline: none;
  color: #9dbfaf;
  height: 36.5px;

  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 8px 8px 0px;
}

.searchButton {
  width: 40px;
  height: 36px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  background: #1E1E1E;
border-radius: 8px 0px 0px 8px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  position: relative;
  margin-left: auto;
  margin-right: 10%;
  top: 4vh;
}
