


.back1{
    position: absolute;
    left: 0;
    width: 55%;
    height:100%;
    background: #51D289;
    display: flex;
    align-items: center;
}
.back2{
    position: absolute;
    right: 0;
    width: 45%;
    height: 100%;
    background: white;
    display: flex;
    align-items: center;
}
.back2 img{
    position: absolute;
    margin-left:25%;
}
.card1{
    
    background-color: #1E1E1E;
    position: absolute;
    align-items: left;
     width: 643px;
     height: 743px; 
 
      border-radius: 5%; 
    left: 641px;
    top: 160px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  
}


